* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
}

body {
    font-size: 18px;
    font-family: sans-serif, "roboto";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    color: #fff;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 25%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#form-signup {
    background: rgba(17, 50, 42, 0.627);
    max-width: 400px;
    flex-grow: 1;
    padding: 30px 30px 40px 30px;
    border: 1px solid rgba(255, 0, 0, 0.8);
    border-radius: 8px;
}

#eye-1 {
    display: flex;
    flex-wrap: nowrap;
    width: 0;
    padding-right: 0;
    margin-right: 18px;
    cursor: pointer;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#form-login {
    background: rgba(17, 50, 42, 0.627);
    max-width: 400px;
    flex-grow: 1;
    padding: 30px 30px 40px 30px;
    border: 1px solid rgba(255, 0, 0, 0.8);
    border-radius: 8px;
}

.form-head {
    text-align: center;
    margin: 24px;
    color: #16a085;
}

.login-1 {
    margin: 14px 0px 18px;
    border-bottom: 1px solid #fff;
    display: flex;
}

.login-1 i {
    color: #fff;
    margin-right: 10px;
}

#eye {
    display: flex;
    flex-wrap: nowrap;
    width: 0;
    padding-right: 0;
    margin-right: 18px;
    cursor: pointer;
}

.eml {
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    flex-grow: 2;
}

.form-submit {
    background: transparent;
    width: 100%;
    margin: 24px 0px 24px 0px;
    border: 1px solid #fff;
    padding: 10px 0px 10px;
    color: #fff;
}

.signup {
    font-size: 18px;
    text-decoration: none;
    margin-right: 24px;
    color: #3498db;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
}

.container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #c1c1c1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
}


.logo a img {
    width: 220px;
    height: 50px;
}

.menu-sub {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    flex-direction: row;
}

.menu-1 {
    margin: 0 32px;
    padding: 10px;
    border-radius: 4px;
}

.sg-lg {
    background-color: #7cd5d5;
}

.sg-lg:hover {
    background-color: #ffcdcd;
}

.search-map {
    display: flex;
    justify-content: flex-end;
    margin-right: -429px;
    margin-left: 72px;
    height: 40px;
    padding: 0px;
    border: 0px solid #333;
    border-radius: 4px;
}

.search-map-1 {
    width: 274px;
    height: 38px;
    padding: 14px;
    border: 0;
    border-radius: 0;
    position: absolute;
}

.but {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 0;
    position: absolute;
    margin: 5px;
    cursor: pointer;
}

.but:hover {
    background-color: #7cd5d5;
}

.banner {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(#a23982, #1f1013);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden; 
    -o-overflow-Y: hidden; 
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

.bt-2 {
    position: absolute;
    border: 2px solid white;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 2em;
    border-radius: 5px;
    opacity: .5;
    top: 60vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: .3s;
}

.bt-2:hover {
    border: 2px solid #104F55;
    background-color: rgba(365, 365, 365, 0.5);
    cursor: pointer;
    color: #104F55;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1 {
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.x2 {
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
}

.x3 {
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
}

.x4 {
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
}

.x5 {
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
}

.x6 {
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
}

.x7 {
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
}

.x8 {
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
}

.x9 {
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
}

.bt-2:focus {
    outline: none;
}

@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-moz-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-o-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

.header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 2em;
}

#head1,
#head2,
#head3,
#head4,
#head5 {
    opacity: 0;
}

#head1 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
}

#head2 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

#head3 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

#head4 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    -o-animation-delay: 17s;
    animation-delay: 17s;
}

#head5 {
    -webkit-animation: finalFade 1 5s ease-in;
    -moz-animation: finalFade 1 5s ease-in;
    -o-animation: finalFade 1 5s ease-in;
    animation: finalFade 1 5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    -moz-animation-delay: 22s;
    -o-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

#footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: white;
    position: fixed;
    -webkit-transform: translate(95vw, 90vh);
    -moz-transform: translate(95vw, 90vh);
    transform: translate(95vw, 90vh);
    transform: translate(95vw, 90vh);
}


.text-white {
    color: #fff !important;
}

.body {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: flex-start;
    position: relative;
    top: 80px;
}

.sidebar {
    width: 240px;
    height: 1200px;
    display: flex;
    flex-direction: column;

}

.side {
    width: 200px;
    height: 300px;
    border-style: solid;
    border-width: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-size: cover;
}

.one {
    background-image: url('https://dautuplus.net/wp-content/uploads/2021/04/am-thuc-viet-700-x-464.jpg');

}

.two {
    background-image: url('https://elitetour.com.vn/files/images/Blogs/Combo-Intercontinental-Phu-Quoc.jpg');
    background-position-x: -130px;

}

.three {
    background-image: url('https://giahop.vn/wp-content/uploads/2019/06/c%C3%B4ng-v%C4%83n-nh%E1%BA%ADp-c%E1%BA%A3nh-du-l%E1%BB%8Bch.jpg');
    background-position-x: -130px;
}

.four {
    background-image: url('https://res.klook.com/image/upload/q_85/c_fill,w_1360/v1627359065/blog/qcdjhliq5gppiibpqzz2.webp');
}

.main {
    width: 900px;
    height: 1200px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 200px;
}

.item {
    border-style: solid;
    border-width: 5px;
    width: 250px;
    height: 350px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-size: cover;
}

.main a {
    color: #fff;
}

.first {
    background-image: url('https://dulichkhampha24.com/wp-content/uploads/2019/08/nen-du-lich-sapa-may-ngay-4.jpg');
}

.second {
    background-image: url('https://statics.vinpearl.com/du-lich-ha-long_1626080677.jpg');
}

.third {
    background-image: url('https://dulichchat.com/wp-content/uploads/2019/09/du-lich-moc-chau-dulichchat.jpg');
}

.fourth {
    background-image: url('https://cdnmedia.baotintuc.vn/Upload/a7srThwxbojBCucvUWgnxA/files/2020/09/20/giao-thong/Ba-Na-Hills-200920201.jpg');
}

.fifth {
    background-image: url('https://baokhanhhoa.vn/dataimages/202202//original/images5492543_NR1.jpg');
}

.sixth {
    background-image: url('http://divui.com/blog/wp-content/uploads/2016/12/da-lat-1.jpg');
}

.seventh {
    background-image: url('https://halotravel.vn/wp-content/uploads/2020/12/du-lich-sai-gon-1-ngay-i-e1608112204661.jpg');
}

.eighth {
    background-image: url('https://cdn.vntrip.vn/cam-nang/wp-content/uploads/2017/04/kinh-nghiem-du-lich-quy-nhon-binh-dinh-bai-bien-Ky-Co-1.jpg');
}

.nineth {
    background-image: url('https://www.limo24h.vn/wp-content/uploads/2020/02/vi-sao-nen-du-lich-phu-quoc.jpg');
}

footer {
    background-image: linear-gradient(80deg, #9C27B0, #ff8c8c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 13px;
    margin-top: 50px;
    padding: 50px 0px 30px;
    color: #fff;
    display: block;
    position: relative;
    top: 32px;
}

footer .frame_l {
    width: 37%;
    float: left;
}

footer .frame_l .company_name {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.email {
    cursor: pointer;
}